/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.debug {
    border: 1px sollid black;
    min-height: 50px;
}

/* colori root  */

:root {
    /* Color styles */
--nero-100: rgba(0, 0, 0, 1);
--black-opacity: rgba(0, 0, 0, 0.5);
--deep-blue: rgba(20, 25, 34, 1);
--dark-grey: rgba(40, 40, 40, 1);
--text-white: rgba(255, 255, 255, 1);
--text-grey: rgba(113, 113, 113, 1);
--lime-green: rgba(173, 255, 47, 1);
--dark-grey: rgba(40, 40, 40, 1);
}

/* classi colori  */

.white {
    color: var(--text-white);
}
.grey {
    color: var(--text-grey);
}



body {
    font-family: 'Montserrat', sans-serif;
}
/* container wrapper grande tutto lo schermo  */
.wrapper {
    width: 100%;
    height: 100vh;
    background-color: black;
}
.container {
    position: relative;
    margin: 1.5rem -0.75rem;
}
h2 {
    padding-top: 1.5rem;
}
img {
    width: 100%;
    border-radius: 0.2rem;
}
nav {
    width: 230px;
    height: 100%;
    background-color: var(--nero-100);
}
span {
    display: block;
    padding-top: 1rem;
    font-weight: 700;
}
li {
    list-style: none;
}









/* main */

main {
    width: 100%;
    height: calc(100vh - 95px);
    display: flex;
    
}
.main-content {
    width: calc(100% - 230px);
    height: 100%;
    background-color: var(--deep-blue);
    /* overflow: auto; */
}

/* barra nera in alto con bottone upgrade  */

aside {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 95px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    z-index: 1000;
    text-align: right;
    width: calc(100% - 230px);
}
.bottone {
    display: block;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.677);
    border: 1px solid var(--text-white);
    border-radius: 1.5rem;
    padding: 0.75rem 1.5rem;
    margin-right: 2rem;
    text-transform: uppercase;
}
.bottone:hover {
    border-width: 0.1rem;
    color: rgba(255, 255, 255, 1);
    /* box-shadow: 0px 0px 10px -5px var(--text-white); */
    /* text-shadow: 0px 0px 10px 2px var(--text-white); */
}



/* contenuto principale main content "inner-content"  */

.inner-content {
    overflow-y: auto;
    height: 100%;
    padding: 95px 20px;  /* spazio laterale dato a tutto il contenuto main*/
}
.nav-main ul {
    display: flex;
}
.nav-main a {
    padding: 1rem 1rem;
    text-decoration: none;
}
.nav-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75px;
}
.nav-main a {
    position:relative;
    color: var(--text-grey);
}
.nav-main a:hover {
    color: var(--text-white);
}
.nav-main a::before {
    content: '';
    display: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 0.75rem;
    border: 1px solid var(--lime-green);
    background-color: var(--lime-green);
    box-shadow: 0px 0px 10px 4px var(--lime-green);

    width: 2rem;
}
.nav-main a:hover:before {
    display: block;
}

/* sezione cards  */

.cards {
    display: flex;
}
.card {
    width: calc((100% / 6) - 1.5rem);
    margin: 0 0.75rem;
    padding-bottom: 0.75rem;
    border-radius: 0.5rem;
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
}

.card::before {
    transition: all 1s;
    color: rgba(255, 255, 255, 0.5);
}
.card:hover::before {
    display:flex;
    font-family: "Font Awesome 5 Free";
    /* font-weight: 900; */
    content: "\f144";
    color: rgba(255, 255, 255, 1);
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 6rem;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    border-radius: 10px;
  }

/* .card::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: aqua;
} */



.card img {
    box-shadow: 0px 0px 5px 2px var(--nero-100);
    
}
.card:hover {
    box-shadow: 0px 0px 8px 1px var(--lime-green);
    border-radius: 10px;
}
.card:hover img {
    box-shadow: 0px 0px 0px 0px var(--nero-100);
    border-radius: 10px;
}
.cards span {
    text-align: center;
}
.subtitle {
    font-size: 0.8rem; 
}


/* footer  */

.playbar {
    width: 100%;
    height: 95px;
    background-color: var(--dark-grey);
    z-index: 5000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item {
    /* background-color: aqua; */
    display: flex;
    align-items: center;
}
.item img {
    width: 100px;
    padding:  0 1rem;
}
.item span {
    font-size: 0.75rem;
    padding: 0;
}
.item.left span:first-child{
    font-size: 1rem;
}
.item .song {
    padding: 1.5rem 0;
    height: 100%;
}
#controls .item div:nth-child(3) {
    padding: 0 1rem;
}
#controls .left {
    height: 100%;
    width: 300px;
}
#controls .center {
    width: 400px;
    /* height: 100%; */
    justify-content: space-around;
    padding: 1rem 1rem;
    /* flex-direction: column; */
    align-items: flex-end;
}
#controls .right {
    height:100%;
    width: 300px;
    justify-content: flex-end
}
.time-bar-center {
    height: 100%;
}
#controls .time-bar-center span:first-child {
    text-align: center;
    font-size: 1.8rem;
}
#controls .time-bar-center span:nth-child(2) {
    height: 5px;
    margin-top: 1rem;
    background-color: var(--text-grey);
    border-radius: 1.5rem;
    width: 200px;
}
#controls .right span:last-child {
    height: 5px;
    background-color: var(--text-grey);
    border-radius: 1.5rem;
    width: 150px;
}